
@import url(https://fonts.googleapis.com/css?family=Pacifico);

$script: 'Pacifico', cursive;

.navbar-logo {
    
    margin: 0px 50px;
    
    a,
    a:visited {
        font-family: $script;
        color: $green;
        text-decoration: none;
    }
    
     a:hover,
     a:active {
         color: $darkgreen;
         text-decoration: none;
     }
}

p {
    font-size: 1.7rem;
}