<!doctype html>
<html lang="en" ng-app="scopeApp">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- endbuild -->
</head>

<body>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <input type="checkbox" id="offcanvas-menu" class="toggle" />

    <div class="container-fluid">
        <!-- Header, menu and upload -->
        <menu-container></menu-container>
        <upload-modal></upload-modal>
        <header-nav></header-nav>

        <!-- Site content -->
        <main ng-controller="MediaController">

            <h2 class="title-image-files">Latest images</h2>
            <hr width="75%">
            <div class="container_media">

                <div class="container-img">images
                    <div class="row">
                        <div class="col-md-12">

                            <div class="thumbnail" ng-repeat="image in images">


                                <a ng-href="{{ image.path | trustUrl }}">
                                    <div class="img col-md-3" ng-attr-style="background-image: url('{{ image.path | trustUrl }}');"></div>
                                    <div class="caption">
                                        <h3>{{ file.title }}</h3>
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>

                <h2 class="title-audio-files">Latest audios </h2>
                <hr width="75%">
                <div class="container-audio">audio
                    <div class="row">
                        <div class="col-md-12">

                            <div class="thumbnail" ng-repeat="audio in audios" >

                                <a ng-href="{{ file.path | trustUrl }}">

                                    <audio ng-src="{{ file.path | trustUrl }}" audioplayer controls class="img">

                                    </audio>
                                </a>
                            </div>

                        </div>

                    </div>
                </div>
                <h2 class="title-video-files">Latest videos </h2>
                <hr width="75%">
                <div class="container-video">video
                    <div class="row">
                        <div class="col-md-12">
                            <div class="thumbnail" ng-repeat="video in videos">


                                <a ng-href="{{ file.path | trustUrl }}">
                                    <video controls="controls" ng-src="{{ file.path | trustUrl }}" class="img">
                                    </video>
                            </div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
    </main>

    <footer class="footer">
    </footer>

    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>

    <!-- controllers -->
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/uploadController.js"></script>
    <script src="scripts/controllers/mediaController.js"></script>

    <!-- directives -->
    <script src="scripts/directives/uploadModal.js"></script>
    <script src="scripts/directives/menuContainer.js"></script>
    <script src="scripts/directives/headerNav.js"></script>
    
    <!-- filters -->
    <script src="scripts/filters/urlFilter.js"></script>

    <!-- services -->
    <script src="scripts/services/ajaxFactory.js"></script>

    <!-- endbuild -->
</body>

</html>