<!doctype html>
<html lang="en" ng-app="scopeApp">

<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css(.) styles/vendor.css -->
	<!-- bower:css -->
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css(.tmp) styles/main.css -->

	<link rel="stylesheet" href="styles/main.css">
	<link rel="stylesheet" href="styles/partials/_colors.scss">
	<link rel="stylesheet" href="styles/partials/_mixins.scss">
	<link rel="stylesheet" href="styles/partials/_typography.scss">
	<!--	<link rel="stylesheet" href="styles/lightbox.css">-->
	<!-- endbuild -->
</head>


<body class="list-group" ng-controller="AjaxCtrl">





	<div class="jumbotron">
		<p><img src='styles/upload.png' id='upload_button' </p>
			<p><img src='styles/search.png' id='search_button' </p>
				<div>
					<input id="modal-close-button" type="button" value="X" />
				</div>
				<div id="upload_container" class="span8 control-group">
					<form id="fileForm" action="http://util.mw.metropolia.fi/ImageRekt/api/v2/upload" method="post" enctype="multipart/form-data">
						<input name="file" type="file" onchange="angular.element(this).scope().setMediaFile(this)" style="display: inline-block;">
			</p>
			<p>
				<label>Title:</label>
				<input name="title" type="text">
			</p>
			<p>
				<label>Description:</label>
				<input name="description" type="text">
				<p>
					<label>Type:</label>
					<input name="type" type="text">
					<p>
						<button class="submit_upload" ng-click="sendImage()">Upload</button>
						</form>
						</div>
						<input type="text" class="search" ng-model="search.$">
						<h1> Scope </h1>
	</div>
	<!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

	<!-- Add your site or application content here -->
	<div class="header">
		<div class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">

					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<a class="navbar-brand" href="#/">scope</a>

				</div>

				<div class="collapse navbar-collapse" id="js-navbar-collapse">

					<ul class="nav navbar-nav">
						<li class="active"><a href="#/">Home</a></li>
						<li><a ng-href="#/images">Images</a></li>
						<li><a ng-href="#/videos">Videos</a></li>
						<li><a ng-href="#/audios">Audios</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<h2 class="title_newest">newest</h2>
	<hr width="75%">
	<div class="container_media">
		<div class="container_images">

			<div class="row">
				<div class="col-md-12">
					<p ng-repeat="file in files | filter: search" style="width:33%; float: left;" ng-if="$index < 6">

						<!-- Show image thumb -->

						<img class="img-responsive" ng-src="http://util.mw.metropolia.fi/uploads/{{ file.path }}">
						<td>{{file.title}}</td>
					</p>
				</div>
			</div>

		</div>
		<div class="buttonHolder">
			<input class="btn" id="show-more-button" type="button" value="Show more" />
		</div>
		<div class="load-more-container">
			<div class="row">
				<div class="col-md-12">
					<p class="loading_more" ng-repeat="file in files | filter: search" style="width:33%; float: left; display:none;" ng-if="$index < 60">

						<!-- Show image thumb -->

						<img class="img-responsive" ng-src="http://util.mw.metropolia.fi/uploads/{{ file.path }}">
						<td>{{file.title}}</td>
					</p>
				</div>
			</div>


		</div>
		<!--
	
	<div class="container_video">

		<div class="row">
			<div class="col-md-12">
				<p ng-repeat="file in files" style="width:33%; float: left;" ng-if="$index < 6">

				
					<video ng-src="http://util.mw.metropolia.fi/uploads/{{ file.path }}">
					</video>
				</p>
			</div>
		</div>

	</div>
-->
	</div>

	</div>

	</div>
	</div>

	<div class="footer">
		<div class="container2">
			<p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
		</div>
	</div>


	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
	<script>
		! function (A, n, g, u, l, a, r) {
			A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
					(A[l].q = A[l].q || []).push(arguments)
				}, A[l].l = +new Date, a = n.createElement(g),
				r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
		}(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-XXXXX-X');
		ga('send', 'pageview');
	</script>

	<!-- build:js(.) scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-touch/angular-touch.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="scripts/app.js"></script>
	<script src="ajaxService.js"></script>
	<script src="ajaxController.js"></script>
	<script src="UploadController.js"></script>
	<script src="main.js"></script>
	<!-- endbuild -->

	<!-- directives -->
	<script src="scripts/directives/fileForm.js"></script>
	<script src="scripts/directives/registerForm.js"></script>

</body>

</html>