.navbar-logo {
    
    margin: 0px 50px;
    
     a:hover,
     a:active {   
        @extend .logo;
         text-decoration: none;
     }
}

.navbar-default {
    background-color: $midgrey;
    border: none;
}