.navbar-logo {
    
    margin: 0px 50px;
    
     a:hover,
     a:active {   
        @extend .logo;
         text-decoration: none;
     }
}

.navbar-default {
    background-color: $darkgrey;
    border: none;
    
    .menu {
        .fa {
            font-size: 3.5rem;
            color: white;
        }
    }
}