.comment {
    background-color: $darkgrey;
    border-bottom: 1px solid $lightgrey;
    
    h4 a {
        font-size: 1.4rem;
        color: $green;
    }
    
    p {
        color: $lightgrey;
    }
}
.comment-form-container {
    padding: 0;
}
.comment-field {
    width: 100%;
}
.input-group-btn {
    width: 1% !important;
}

table {
    font-size: 2rem;
}

#detail-img-container {
    background-color: $light;
    
    img {
        width: 100%;
    }
    
}
#detail-audio-container {
    background-color: white;
    padding: 30px 0;
}
canvas {
    width: 100%;
}

#info {
    
    table, tr, td {
        font-size: 1.5rem;
    }
    
    h1, p {
        text-align: center;
    }
}

#size {
    float: right;
}