/*=====  SLIDE MENU  ======*/


/*----------  HIDE SELECT CHECKBOX  ----------*/

.toggle,
.full-screen-close {
	display: none;
}

.full-screen-close {
	width: 100%;
	height: 100%;
	position: fixed;
	cursor: pointer;
	top: 0;
	left: 0;
}


/*----------  TOGGLE OFF-CANVAS MENU  ----------*/

.toggle:checked + .container-fluid > .menu-container {
	margin-left: 0;
}

.toggle:checked + .container-fluid > .content .full-screen-close {
	display: block;
	background: rgba(0, 0, 0, .5);
}

.menu {
	padding-top: 24px;
	display: inline-block;
}

.toggle-btn,
.close-btn {
	cursor: pointer;
}

.toggle-btn {
	font-size: 2.25rem;
}

.close-btn {
	float: right;
	font-size: 1.5rem;
	padding: 1.5rem;
	color: #ededed;
}

.menu-container,
.content {
	transition: margin 0.5s ease-in-out;
}

.menu-container {
	background: #2c3e50;
	width: 25%;
	margin-left: -60%;
	float: left;
	height: 100%;
	position: fixed;
	z-index: 1050;
}

.slide-menu i {
	margin-right: 1rem;
	font-size: 1.5rem;
	vertical-align: middle;
}

.slide-menu li a {
	color: #fff;
	padding: 1.5rem;
	font-size: 1.125rem;
	text-transform: uppercase;
	font-weight: 600;
	display: block;
	transition: background-color .5s ease-in-out;
}

.slide-menu li a:hover {
	background-color: #34495e;
}


/*=====  MEDIA QUERIES  ======*/

@media (max-width: 460px) {
	.slide-menu li a {
		font-size: 0.875rem;
		padding-left: 12px;
	}
	.slide-menu li i {
		font-size: 16px;
	}
}

@media (max-width: 320px) {
	.slide-menu li i {
		display: none;
	}
}