<div class="header">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <label for="offcanvas-menu" class="full-screen-close"></label>

        <div class="container-fluid">

            <div class="menu">
                <label for="offcanvas-menu" class="toggle-btn">
                    <i class="fa fa-bars"></i>
                </label>
            </div>

            <div class="navbar-logo" style="display:inline-block;">
                <a href="index.html"><h1 class="logo">Scope<h1></a>
            </div>

            <button type="button" id="btn-upload" class="btn btn-outlined btn-success" data-toggle="modal" data-target="#upload-modal">Upload</button>

        </div>
    </nav>
</div>