<div class="header">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <label for="offcanvas-menu" class="full-screen-close"></label>

        <div class="container-fluid">

            <div class="menu">
                <label for="offcanvas-menu" class="toggle-btn">
                    <i class="fa fa-bars"></i>
                </label>
            </div>

            <div class="navbar-logo" style="display:inline-block;">
                <a class="logo" href="index.html"><h1>Scope<h1></a>
            </div>

            <button type="button" class="btn" data-toggle="modal" data-target="#upload-modal">Upload</button>
            
            

            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
        </div>
    </nav>
</div>