<div class="header">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

        <label for="offcanvas-menu" class="full-screen-close"></label>

        <div class="container-fluid">

            <div class="menu">
                <label for="offcanvas-menu" class="toggle-btn">
                    <i class="fa fa-bars"></i>
                </label>
            </div>

            <div class="navbar-logo" style="display:inline-block;">
                <a class="" href="index.html"><h1>Scope<h1></a>
            </div>

            <button type="button" class="btn btn-outlined btn-success" data-toggle="modal" data-target="#upload-modal">Upload</button>
<!--
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control search search-open" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-outlined btn-default"> <i class="fa fa-search"></i> </button>
            </form>
-->
<!--
      <form class="navbar-search" role="search">
        <div id='search-form' class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <span id='search-icon' class="input-group-addon"><span class='glyphicon glyphicon-search'></span></span>
          </div>
        </div>
        <button id='search-button' class='btn btn-default '><span class='glyphicon glyphicon-search'></span></button>
-->


        </div>
    </nav>
</div>