<div class="container">
    <!-- Image	-->
    <div class="container">
        <img class="img-padding img-responsive center-block" ng-src="http://util.mw.metropolia.fi/uploads/{{path}}" />
    </div>

    <!--end content body-->


    <!--    </section>-->
    <!--end content-->
    <div ng-controller="CommentController">
        <div ng-repeat="comment in itemComments">
            <a ng-href="#/profile/">
                <h4>{{ comment.username }}</h4>
            </a>
                <p>{{ comment.comment }}</p>
        </div>


        <form id="comment-form" ng-submit="postComment()" ng-controller="CommentController">
            <span>
                        <input type="text" placeholder="Comment" name="comment" ng-model="comment">
                        <label for="comment"></label>
                    </span>
            <span>
		<input type="submit" name="submit" value="Add Comment">
	</span>
            <button id="like-button" ng-click="likeItem()" ng-controller="CommentController" ng-hide="liked">Like</button>
            <button id="like-button" ng-click="likeItem()" ng-controller="CommentController" ng-show="liked">Unlike</button>
        </form>
        


    </div>
    <a href="http://util.mw.metropolia.fi/uploads/{{path}}" download>download</a>

    <h4>Share</h4>
    <!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_google_plus"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
    </div>