<div ng-controller="UploadController" id="upload-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Upload</h4>
            </div>
            <div class="modal-body">
                <form id="upload-form">
                    <input type="file" name="file" required onchange="angular.element(this).scope().setMediaFile(this)">
                    <label for="title">Title</label>
                    <input class="form-control" type="text" name="title" required>
                    <label for="description">Description</label>
                    <input class="form-control" type="text" name="description" required>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" ng-click="postFile()">Upload</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>